@charset "UTF-8";

	
/*//set pic in div*/
	img {
    	width:100%;
    	position:left;
    	/*height:auto;*/
    	display: inline-block;

/*	}
	#item{
				font-family: 'Bitter', serif;

	}*/

	body{
		background:#fff7f8;
	}
	body, input, button, {
		font-family: 'Bitter', serif;

	}

	.noFill{
		fill:none;
	}

	header{
		width:100%;
		height:50px;
		position:absolute;
		padding:15px;
		margin-top: 0px;
/*		top:200px;
*/		left:0;
		z-index:5;
		background:ffd0b6;
		box-shadow: 0px 2px 4px rgba(44,62,80, 0.15);
/*		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;*/
	}


	header input{

		width:90%;
		height:50px;
		position:absolute;


		/*float:left;*/
		color:#5F9EA0;
		font-size: 15px;
		font-weight:400;
		text-indent:18px;
		/*padding: 0 60px 0 18;*/
		background: rgba(255,255,255,0.2);
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border:0px;
		box-shadow:none;
		outline:none;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
	}

	header input::-webkit-input-placeholder {
		color:rgba(255,255,255,0.75);
	}
		header input::-moz-input-placeholder {
		color:rgba(255,255,255,0.75);
	}
		header input::-ms-input-placeholder {
		color:rgba(255,255,255,0.75);
	}
		header input::-o-input-placeholder {
		color:rgba(255,255,255,0.75);
	}

	header button{
		width:50px;
		height:50px;
		position:absolute;
		top:15px;
		right:55px;
		z-index:2;
		border-radius:26px;
		background:#fff;
		border:0px;
		box-shadow:none;
		outline:0;
		cursor:pointer;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
	}

	header button svg{
		width:30px;
		height:30px;
		position:absolute;

		top:50%;
		left:50%;
		font:700;
		margin:-16px 0px 0px -13px;
	}

	header button svg .fill{
		fill:#FFDC8E;
	}

	.container{
		width:100%;
		height:100px;
/*		float:left;
*/		padding:0px;
	}

	ul.todo{
		width:80%;
		float:left;
	}

	li{
		font-size: 50px;
		margin-top: 10px;
	}

	ul.todo li {
		list-style-type: none;
		list-style-position: inside;
		text-indent: 50px;
		width:100%;
		height: 50px;
		float:left;
		font-size:14px;
		background:#fff;
		font-weight:400;
		color:#444;
		line-height:22px;
		border-radius:5px;
		position:relative;
		box-shadow:0px 1px 2px rgba(44,62,80,0.10);
		margin:0 0 10px 0;
		padding:0px 90px 0px 0px;
		margin-top: 10px;
		font-style: helvetica, sans-serif;
		text-orientation: center;

	}

	ul.todo li:last-of-type {
		margin:0;
	}

	ul.todo li .buttons{
		width:150px;
		height:50px;
		position:absolute;
		top:0;
		right:0;
		/*background:red;		*/
		border-radius:5px;
	}

	ul.todo li .buttons button {
		width:50px;
		height:50px;
		float:left;
		background:none;
		position:relative;
		border:0px;
		box-shadow:none;
		outline:none;
		/*background:green;*/
		cursor:pointer;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
	}
	
	/*BUTTON BEFORE LINE - IN BETWEEN THE BUTTONS*/
	ul.todo li .buttons button:last-of-type:before {
		content:'';
		width:1px;
		height:40px;
		position:absolute;
		top:10px;
		left:0;
		background:#edf0f1;
	}


	ul.todo li .buttons button svg {
		width:22px;
		height:22px;
		position:absolute;
		top:50%;
		left:50%;
		margin:-11px 0 0  -11px;
	}

	ul.todo li .buttons button .edit svg {
		width:22px;
		height:22px;
		position:absolute;
		top:50%;
		left:20%;
		margin:11px 0 0  -11px;
	}

	ul.todo li .buttons button.remove svg.fill {
		fill:#c0cecb;
		width:22px;
		height:22px;
		position:absolute;
		/*top:50%;*/
		right:50%;
		margin:-11px 0 0  -11px;
	}

	ul.todo#completed li .buttons button.complete svg{
		background:#25b99a;;
		border:0px;

	}

	ul.todo#completed li .buttons button.complete svg .fill {
		fill:#fff;
	}


	ul.todo li .buttons button svg .fill {
		fill:#c0cecb;
	}

	ul.todo li .buttons button.complete svg {
		border-radius:11px;
		border:1.5px;
	}

	ul.todo li .buttons button.remove svg.fill {
		fill:#c0cecb;
	}

	ul.todo li .buttons button.remove:hover svg .fill {
		fill:#e85656;
	}

	ul.todo li .buttons button.complete: svg .fill {
		fill:#c0cecb;
	}

	ul.todo#completed:before {
		padding:60px 0 0 0 ;
	}


	ul.todo#completed:not(:empty):before {
		content:' ';
		width:150px;
		height:1px;
		/*background:#FC4A1A;*/
		position:absolute;
		top:30px;
		left:50%;
		margin:0 0 0 -75;
	}

	ul.todo li .edit button svg {
		width:22px;
		height:22px;
		position:absolute;
		top:50%;
		left:50%;
		margin:-11px 0 0  -11px;
	}


